@model LoginDto
<h1>Dummy Login</h1>

<form method="post">
    <input name="UserName" value="@Model.UserName" type="text" placeholder="Username..." />
    <input name="Role" value="@Model.Role" type="text" placeholder="Role..." />
    <button type="submit">Log In</button>
</form>