@using Spg.SpengerShop.Domain.Model;
@model IEnumerable<Product>

<h1>Liste aller Produkte</h1>

<table>
    <thead>
        <tr>
            <th>Name</th>
        </tr>
    </thead>
    <tbody>
        @foreach(Product product in Model)
        {
            <tr>
                <td>@product.Name</td>
            </tr>
        }
    </tbody>
</table>