@using Spg.SpengerShop.Domain.Model;

@model IEnumerable<ProductDto>

<h1>Delete</h1>
<h1>
    Alle Producte die in den nächsten 2 Wochen ablaugfen
</h1>

<p>
    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
</p>

@{
    int x=5;
    DateTime now = DateTime.Now;
}

<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>Name</th>
        </tr>
    </thead>
    <tbody>
        @if (x == 5)
        {
               
        }

        @foreach (ProductDto product in Model)
        {
            <tr>
                <td>@product.Name</td>
            </tr>
        }
    </tbody>
</table>